<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('admin/assets/img/favicon.ico') }}">
    <link href="{{ asset('admin/assets/css/styles.css') }}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <div class="header">
        <div class="logo">
            Dashboard
        </div>
    </div>
    {% include 'admin/partials/menu.html.twig' %}
    <div class="main-content">
        {% include 'admin/partials/messages.html.twig' %}
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <div class="footer">
    </div>
</div>
</body>
</html>