/vendor//.idea//logs//composer.lock/data/database.sq3/cache//src/View/Resource/admin/assets//src/View/Resource/assets//www/assets//console/a.out/data/generated-classes//data/generated-sql//data/generated-conf//src/Model/Base//src/Model/Map//data/devops.db3