<div class="nav">
    <ul>
        <li class="{% if menu.isUri('/') %}active{% endif %}">
            {{ url('/', 'pe-7s-graph', 'Dashboard') }}
        </li>
        <li class="{% if menu.isUri('/admin/project*') %}active{% endif %}">
            {{ url('/admin/project', 'pe-7s-science', 'Projects') }}
        </li>
        <li class="{% if menu.isUri('/admin/users*') %}active{% endif %}">
            {{ url('/admin/users', 'pe-7s-science', 'Users') }}
        </li>
        <li class="{% if menu.isUri('/admin/logout') %}active{% endif %}">
            {{ url('/admin/logout', 'pe-7s-logout', 'Logout') }}
        </li>
    </ul>
</div>