<p>
    {% if field.label %}
        <label for="size_1">{{ field.label }}</label>
    {% endif %}
    <textarea name="{{ form.name(field.name) }}"{{ field.attributesAsString|raw }}>{% if field.value %}{{ field.value }}{% endif %}</textarea>
</p>