{% extends 'admin/base.html.twig' %}

{% block title %}Project details{% endblock %}

{% block content %}

    {{ container.authService.user }}
    <table>
        <th>Name</th>
        <th>Repository</th>
        <th>Status</th>
        <th>actions</th>
        <tbody class="main-table">
            {% for project in container.authService.user.projects %}
            <tr>
                <td>
                    {{ project.name }}
                </td>
                <td>
                    {{ project.repository }}
                </td>
                <td>
                    {{ project.buildStatuses.first.status }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
